.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 800px;
}

[role="row"] {
  display: contents;
  /* Allows children to follow grid layout */
}

[role="columnheader"] {
  font-weight: bold;
}
